    *{
        margin: 0;
    padding: 0;

    }
    body{
      
        box-sizing: border-box;
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       

    }
    .nav1 {
        position: sticky;
        top: 0;
        width: auto;
        flex-wrap: wrap;
    }

    .nav2 {
    
        width: auto;
        flex-wrap: wrap;
        
    }
        /* activea class */
        .activea{
            position: relative;
        }
        .activea::after{
            content: '';
            background:#c42c91;
            width: 25px;
            height: 2px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -12px;
            border-radius: 2px;
        }
        /* end of active */
    .header{
        width: auto;
        min-height: 100vh;
        background: #4648a1;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      
    }

    .head-info{
       color: white;
        background-color:#050113;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
    
        
    }
    .link-a ul li{
       display: inline-flex;
        flex-wrap: wrap;
        

    }
     .hr{
        font-size: 25px;
    }
    .link-a ul li a{
          color: white;
        text-decoration: none;
        padding: 0 20px;
        font-weight: bold;
        line-height: 20px;
        
    }
    .link-a ul li a:hover{

        color:#c42c91;
    }

    .nav-bar {
          width: auto;
        justify-content: space-between;
        color: white;
        background-color:#311c55; 
        padding: 10px 20px;
    }
    .nav-links{
         display: flex;
        justify-content: space-between;
    }
       .nav-links ul{
        display: inline-flex;
        padding: 0 15px;
        flex-wrap: wrap;

        
    }
        .hi{
        background-color: rgb(7, 0, 0);
        
        position: fixed;
        bottom: 10%;
        color: white;
    }
    .acrony{
        padding: 20px;
    }

    .nav-links ul li{
        display: inline;
        padding: 0 15px;
    }
    .nav-links ul li a{
        text-decoration: none;
        color: white;
        font-weight: lighter;
        font-size: 20px;
    }
      .search-bar{
        display: inline-flex;
        flex-wrap: wrap;
    }
        .legend-search{
        padding: 10px;
        border-top:  2px solid white;
        border-right:  2px solid white;
    }
        .search-btn{
        background-color: transparent;
        border: 2px white solid;
       padding: 5px;
        
        
    }
    .legend-search input {
        background: transparent;
        border: none;
        outline: none;
        color: white;
    }
   .legend-search:hover{
        transition: 1s;
        border-bottom:  2px solid white;
        border-left:  2px solid white;
        }
        .submit-search{
        background:#ff9677 ;
        border: white 2px solid;
        border-radius: 10px;
    }
        .submit-search img{
        background-color: #ff9677;
        padding: 5px;
        border-radius: 5px;
        
    }
    .search-bar a{
        display: inline-flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        color: white;
        padding: 0 15px;
        text-decoration: none;
        box-sizing: border-box;
    }
    .mentor-btn a{
        border: white solid 2px;
    padding: 10px;
    background:transparent;
    border-radius: 2px;
    
    }
    .academies{
        padding: 10px;
        background-color: #ff9677;
        border-radius: 2px;
        border: #ff9677 solid 2px;
    }
    .search-bar span{
        margin-left: 25px;
    }
    .container{
        padding: 2% 8%;
        width: auto;
    }
    .ket{
        background:#1c2068;
        background-position: center;
        background-size: cover;
        margin-top: 70px;
        padding: 50px;
        border-radius: 15px;
        display:inline-flex;
        box-shadow: rgb(13, 13, 31) 0px 5px 15px;
        flex-wrap: wrap;
        width: auto;
    }
    .illus img{
        width: 100%;
    }

    .content{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:white;
        font-weight: bolder;
        
        width: 500px;
        padding: 5px;
    }

    .content h3{
        color: #e904cad2;
        font-weight: bolder;
    }
    .content h1{
        font-size: 40px;
        font-weight: bolder;
        padding :10px;
    }
    .illus{
        
        width: 500px;
        padding: 6px;
    }
    .try{
        padding: 15px;
        background-color: #e904cad2;
        border-radius: 40px;
        text-decoration: none;
        color: white;
        font-weight: 700;
        
    }
    .try2{
        padding: 15px;
        background-color: transparent;
        border-radius: 40px;
        border: white 2px solid;
        text-decoration: none;
        color: white;
        font-weight: 700;
        
    }
    .try:hover{
        border-radius: 0;
        transition: 0.5s;

    }
    .try2:hover{
        border-radius: 0;
        transition: 0.5s;

    }



    .container2{
        padding: 2% 8%;
        width: auto;
        
    }
    .topic{
        margin-top: -200px;
    }
    .ket2{
        
       background-color: white;
        margin-top: 70px;
        padding: 30px;
        border-radius: 15px;
        display:inline-flex;
        box-shadow: rgb(13, 13, 31) 0px 5px 15px;
        flex-wrap: wrap;
        width: auto;
    }

    .illus2 img{
        width: 70%;
    }

    .content2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:black;
        width: 500px;
        padding: 5px;
    }
    .content2 a{
        text-decoration: none;
        color: #c42c91;
       font-weight: bolder;
        padding: 5px;
        font-size: 13px;
    }

    .content2 p{
        color: black;
        
    }
    .content2 h2{
        font-size: 30px;
        font-weight: bolder;
        padding :10px;
    }
    .illus2{
        
        width: 500px;
        padding: 6px;
    }

    .feature1{
   
    background-size: cover;
    background-position: center;
    width: auto;
    min-height: 30vh;
    padding: 30px;
   
   
    display: inline-flex;

    }
    .btn-br{
    padding: 15px;
    background-color: #e904cad2;
    text-decoration: none;
    color: white;
    font-weight: 700;
    border: 2px solid #e904cad2;
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 30px;

    }
    .btn-ln{
    padding: 15px;
    background-color: transparent;
    text-decoration: none;
    color: black;
    font-weight: 700;
    border: 2px black solid;
    display: inline-flex;
    flex-wrap: wrap;

    }
    .feature-head{
    width: 100%;
    margin-bottom: 40px;
    }
    .feature-head a{
    margin-inline: 10px;
    }
    .feature-illus{
    width: 100%;
    }
    .feature1 h2{
    font-size: 40px;
    }
    .feature-illus img{
    padding: 0px  0px 20px ;
    }
    .lk{
    text-decoration: none;
    color: #e904cad2;
    font-weight: lighter;
    font-size: 20px;
    }
    .ankc{
    padding: 20px;
    }
    .ankc p{
    font-size: 15px;
    }

    .end{
    background-color: rgb(214, 211, 211);
    background-size: cover;
    background-position: center;
    width: auto;
    min-height: 30vh;
    padding: 30px;
    display:inline-flex;
    }

    .feature2{
    background-image: linear-gradient(to right, #16005a,transparent),url(cmp.jpg);
    background-position: center;
    background-size: cover;
    width: auto;
    min-height: 75vh;

    color: white;  
    word-wrap: break-word;

    }
    .feature2 h2{
    padding: 30px;
    }
    .feature1 h2{
    font-size: 30px;
    }
    .box-x{
        width: 300px;
        padding-inline: 50px;
        
        border-radius: 20px;
        margin-inline: 10px;  
        margin-bottom: 20px;  


    }
    .container-box{
    display: inline-flex;
    padding: 30px;
    flex-wrap: wrap;
    }
    .box-x img{
    width: 100%;
    }
    .feature3{
    background-image: linear-gradient(to right, #07011b,transparent),url(cp.jpg);
    background-position: center;
    background-size: cover;
    width: auto;
    min-height: 70vh;
    padding: 30px;   
    color: white;  
    }
    .feature3 h3{
    padding: 10px;
    }
    .feature3 p{
    padding: 10px;
    font-size: 15px;
    }
    .feature3 h4{
    font-size: 35px;
    padding: 10px;
    }
    .press{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 10px;
    }
    .press h2{
    font-weight: 100;

    }
    .press p{
    font-size: 20px;

    }
    .feature3 a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 10px;
    }
    .feature3 a span{
    color: red;
    }

    .feature4{

    background-color: white;
    min-height: 50vh;
    padding: 30px;



    }
    .line{
    border: 2px #ff9677 solid;
    }
    .line2{
    width: auto;
    margin-left: 20px;

    }
    .container-box2{
    display: inline-flex;
    flex-wrap: wrap;
    padding: 20px 30px;
    padding-inline: 30px;
    }
    .feature6{
        background-image: linear-gradient(to right, #16005a,transparent),url(cmp_transcpr.jpg);
        background-position: center;
        background-size: cover;
        width: auto;
        min-height: 75vh;
    
        color: black;  
        word-wrap: break-word;
    
        }
        .feature6 h2{
        padding: 30px;
        }
        
        .box-x6{
        width: 300px;
        padding-inline: 50px;
        background-color: white;
        border-color: #b1acc2 5px solid;
        border-radius: 20px;
        margin-inline: 10px;  
        margin-bottom: 20px;  
        }
        .container-box6{
        display: inline-flex;
        padding: 30px;
        flex-wrap: wrap;
        }
        .box-x6 img{
        width: 100%;
        }
        .features9{
            width: 100%;
            min-height: 90vh;
            background-image: linear-gradient(to right, rgb(85, 53, 53), transparent),url(cmp_transcpr.jpg);
            background-position: center;
            background-size: cover;
        }
        .hg h2{
            text-align: center;
        }
        .button{
            
            background-color: #07011b;
            color: white;
            width: 250px;
            padding: 20px;
            border-radius: 30px;
        }
        .button span{
            padding-inline: 20px;
        }
        .button #team:hover{
            background-color: #070d81;
            width: 250px;
            padding: 10px;
            border-radius: 30px;
            transition: 1s;
          
        }
        .button #ind:hover{
            background-color: #db2e59;
            width: 250px;
            padding: 10px;
            border-radius: 30px;
            transition: .8s;
          
        }

    .footer{
        color: white;
        min-height: 60vh;
        background-color: #07011b;
    }
    .words{
        display: inline;
        justify-content: space-between;
        width: auto;
        display: inline-flex;
        flex-wrap: wrap;
        padding: 70px;
    }
    .sub-btn{
        padding: 15px;
        background-color: #e904cad2;
        text-decoration: none;
        color: white;
        font-weight: 700;
        border: 2px solid #e904cad2;
        display: inline-flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .words div{
        margin-inline: 35px;
    }
    .support a, .community a, .compa a{
        font-size: 20px;
        padding: 6px;
        text-decoration: none;
       display: block;
       color: #333138;
       
    }
    .newsletter aside, .newsletter label {
        font-size: 20px;
        padding: 6px;
        text-decoration: none;
       display: block;
       color: #333138;
    }
    .newsletter input[type=email]{
        background-color: #14073C;
        width: 100%;
        height: 30px;
        border-radius: 10px;
        outline: none;
        color: white;
        border: none;
        padding: 10px;
    }
    label .check{
        background-color: #1E014F;
    }
    .insider{
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    .insider a{
        font-size: 15px;
        padding: 6px;
        text-decoration: none;
       color: #333138;
    }
    /* ----------------------------------------------------Investement ---------------------------------------------------- */
    .investement{
        width: 100%;
        background-color: #06093f;
        min-height: 100vh; 
        color: white;
        
    }
    .inve{
        padding: 4% 7%;
    }
    .inve h1{
        text-align: center;
        font-size: 40px;
        font-weight: lighter;
        padding: 40px;
    }
    .inve p{
        text-align: center;
        padding: 0 7%;
    }
    .circle div{
        background-color: #4648a1;
      width: 100px;
      height: 100px; 
      border-radius: 50%;
      
    }
    .circle div h4{
       padding: 40% 35%;
       text-align: center;
    }
     .graphic {
       display: inline-flex;
       flex-wrap: wrap;
      
     }


/* ----------------------------------------------------end of Investemebt ---------------------------------------------------- */

/* ---------------------------------------------------- Ket 3 ---------------------------------------------------- */
.ket3{
         background-color: white;
        padding: 30px;
        border-radius: 15px;
        display:inline-flex;
        box-shadow: rgb(13, 13, 31) 0px 5px 15px;
        flex-wrap: wrap;
        width: auto;
        color: black;
}
.container3{
    padding: 2% 8%;
    width: auto;
}
.contain{
    display: inline-flex;
    flex-wrap: wrap;
   
}
.texture{
    width: 500px;
    padding: 10px;
}
.cld{
    padding: 20px;
}
.cld span {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


    
    /* ----------------------------------------------------Some responsive---------------------------------------------------- */

    @media screen and (max-width:500px) {
        .contain{
            display: block;
            flex-wrap: wrap;
           
        }
       
        .ket3{
    
            background-color: white;
            border-radius: 10px;
            padding: 15px;
            display:inline-flex;
            box-shadow: rgb(6, 6, 7) 0px 5px 15px;
            flex-wrap:wrap;
            width: 75%;
            }
            .texture{
                width: 100%;
                padding: 10px;
            }
            .ket2{
                border-radius: 10px;
                padding: 15px;
                display:inline-flex;
                box-shadow: rgb(6, 6, 7) 0px 5px 15px;
                flex-wrap:wrap;
                width: 75%;
                }
        
       
    .ket{
    
    background-image: linear-gradient(to right top, #070d81, transparent);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 30px;
    display:inline-flex;
    box-shadow: rgb(254, 254, 255) 0px 5px 15px;
    flex-wrap:wrap;
    width: 75%;
    }
    .container{
    padding: 7% 2%;
    width: 100%;
    }

    .content2 h2{
        font-size: 15px;
        font-weight: bolder;
        padding :5px;
    }
    .content2 p{
        padding :5px;
    }
   

    .feature1{
       
        width: auto;
        min-height: 30vh;
        padding: 30px;
        flex-wrap: wrap;
        display: inline-flex;
    
        }
    .illus img{
    width: 80%;
    }
    .nav1 {
    position: relative;

    width: 100%;
    flex-wrap: wrap;
    }

    .nav2 {
    position: relative;

    width: 100%;
    flex-wrap: wrap;

    }
    .container-box{
    display: inline-flex;
    padding: 2% 7%;
    flex-wrap: wrap;
    }

    .box-x6{
        width: 300px;
        padding-inline: 50px;
        background-color: white;
        border-color: #b1acc2 5px solid;
        border-radius: 20px;
        margin-inline: 10px;  
        margin-bottom: 20px;  
        width: 100%;
        }
        .box-x{
            width: 300px;
            padding-inline: 50px;
            margin-inline: 10px;  
            margin-bottom: 20px;  
            width: 100%;
            }
        .end{
            background-color: rgb(214, 211, 211);
            background-size: cover;
            background-position: center;
            width: auto;
            min-height: 30vh;
            padding: 30px;
            display:inline-flex;
            flex-wrap: wrap;
            }
        

    }
/*--------------------------------------------------------------- end of the responsive  update from Ankc -=------------------------*/
