*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
    background-image: linear-gradient(#07011b, black, rgb(64, 3, 179));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 70vh;
}
/* box style*/
.box{
    padding: 2% 8%;
    width: auto;

}
.ket{
   background-image: linear-gradient( #07011b, black,rgb(36, 3, 90));
    border-radius: 15px;
    margin-top: 80px;
    padding: 50px;
    box-shadow: #dd058a 0px 5px 15px;
    display: inline-flex;
    margin-left: auto;
    margin-right: auto; 
}

/* container1 style*/
.container1{
    width: 50%;
}
.container2{
    width: 50%;
   
}
.container1 img{
    width: 100%;
}
.container2 {
    color:white;
    
}
.container2 h2{
    font-size: 30px;
   
}
.container2 p{
    color: #eeeeee;
   
}
.email{
    background: transparent;
    padding: 10px;
    border: none;
    outline:none;
    color: white;
    text-align: left;
} 
.lab-email{
    background: transparent;
    padding: 15px;
    border-bottom: 2px solid #dd058a;
    outline:none;
}
.lab-password{
    background: transparent;
    padding: 15px;
    border-bottom: 2px solid #dd058a;
    outline:none;
}
.lab-password:hover, .password:hover{
    background: #dd058a;
    border-bottom: 2px solid #dd058a;
    outline:none;
}
.lab-email:hover, .email:hover{
    background: #dd058a;
    border-bottom: 2px solid #dd058a;
    outline:none;
}

.password{
    background: transparent;
    padding: 10px;
    border: none;
    outline:none;
    color: white;
    text-align: left;
}
.submit{
    padding: 15px;
    outline: none;
    border: none;
    color: white;
    background-color: #dd058a;
}
.ll{
    display: flex;
    justify-content: space-between;
}
.forget{
    color: white;
    text-decoration: none;
}
.signup{
    color: #dd058a;
    text-decoration: none;
    font-weight: bold;
}
/* Footer */
.footer{
    color: white;
    min-height: 60vh;
    background-color: #07011b;
}
.words{
    display: inline;
    justify-content: space-between;
    width: auto;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 70px;
}
.words div{
    margin-inline: 35px;
}
.support a, .community a, .compa a{
    font-size: 20px;
    padding: 6px;
    text-decoration: none;
   display: block;
   color: #333138;
   
}
.newsletter aside, .newsletter label {
    font-size: 20px;
    padding: 6px;
    text-decoration: none;
   display: block;
   color: #333138;
}
.newsletter input[type=email]{
    background-color: #14073C;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    outline: none;
    color: white;
    border: none;
    padding: 10px;
}
.insider{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.insider a{
    font-size: 15px;
    padding: 6px;
    text-decoration: none;
   color: #333138;
}





/* Responsive  */
@media screen and (max-width:600px) {
    .ket{
        display: block;
        padding: 10px;
    }
    .container2{
        width: 100%;
    }
    /* .container1 img{
        display: none;
    } */
    .lab-email{
        padding: 5px;
        text-align: center;
    }
    .email{
        padding: 5px;
        text-align: center;
    }
    .lab-password{
        padding: 5px;
        text-align: center;
    }
    .password{
        padding: 5px;
        text-align: center;
    }
    .container2 h2{
        font-size: 20px;
        text-align: left;
    }
    .ket{
        background: #07011b;
    }
   
   
}