    *{
        margin: 0;
    padding: 0;

    }
    body{
        background-color: rgb(82, 95, 107);
        box-sizing: border-box;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }
    .nav1 {
        position: sticky;
        top: 0;
        width: auto;
        flex-wrap: wrap;
    }

    .nav2 {
    
        width: auto;
        flex-wrap: wrap;
        
    }
    .header{
        width: auto;
        min-height: 100vh;
        background-image: linear-gradient(to right, #16005a,transparent),url(cmp.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .head-info{
        color: white;
        background-color:#14073C;
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
    
        
    }
    .link-a ul li{
        display: inline;
        

    }
    .link-a ul li a{
        color: white;
        text-decoration: none;
        padding: 0 15px;
        
    }

    .nav-bar {
        width: auto;
        display: flex;
        justify-content: space-between;
        color: white;
        background-color:#1E014F; 
        padding:30px 40px;
    }
    .nav-links{
        display: inline-flex;
    }

    .nav-links ul li{
        display: inline;
        padding: 0 15px;
    }
    .nav-links ul li a{
        text-decoration: none;
        color: white;
        font-weight: bolder;
    }
    .search-bar a{
        display: inline-flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        color: white;
        padding: 0 15px;
        text-decoration: none;
        box-sizing: border-box;
    }
    .mentor-btn a{
        border: white solid 2px;
    padding: 10px;
    background:transparent;
    border-radius: 2px;
    
    }
    .academies{
        padding: 10px;
        background-color: #ff9677;
        border-radius: 2px;
        border: #ff9677 solid 2px;
    }
    .search-bar span{
        margin-left: 25px;
    }
    .container{
        padding: 2px 7%;
        width: auto;
    }
    .ket{
        background-image: linear-gradient(to right top, #070d81, transparent);
        background-position: center;
        background-size: cover;
        margin-top: 120px;
        padding: 60px;
        border-radius: 15px;
        display:inline-flex;
        box-shadow: rgb(254, 254, 255) 0px 5px 15px;
        flex-wrap: wrap;
        width: auto;
    }
    .illus img{
        width: 100%;
    }

    .content{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:white;
        font-weight: bolder;
        
        width: 500px;
        padding: 5px;
    }

    .content h3{
        color: #e904cad2;
        font-weight: bolder;
    }
    .content h1{
        font-size: 40px;
        font-weight: bolder;
        padding :10px;
    }
    .illus{
        
        width: 500px;
        padding: 6px;
    }
    .try{
        padding: 15px;
        background-color: #e904cad2;
        border-radius: 40px;
        text-decoration: none;
        color: white;
        font-weight: 700;
        
    }
    .try:hover{
        border-radius: 0;
        transition: 0.5s;

    }
    .topics{
    width: 100%;
    flex-wrap: wrap;
    display: inline-flex;
    padding: 15px 0px;
    background-image: linear-gradient(to top , #e904cad2, transparent);
    }
    .topics-img{
    margin-left: 60px;
    border: none;
    padding-top: 10px;

    }
    .topics-pic img{
        width: 100%;
        height: 80px;

        
    }
    .img-vec{
        
        width: 80px;
        height: 80px;
        border-radius: 10px;
        background-color:#16005a ;
        margin-inline: 10px;
        outline: none;
        border: none;
    }

    .topics-pic {

        display: inline-block;
        width: 80px;
        height: 80px;
        
        
        margin-inline: 10px;
        outline: none;
        border: none;
        
    }
    .topics-pic p {

        display: inline-block;
        width: 80px;
        height: 80px;
        
        
        margin-inline: 10px;
        outline: none;
        border: none;
        
    }

    .img-vec:hover{
        border: #9d7dff 1px solid;
        border-radius: 10px;
    }
    .topics-head{
        padding: 0 20px;
        color: white;
    }
    .topics-head h2{
        font-weight: bolder;
        font-size: 25px;
    }
    .topics-head a{
        text-decoration: none;
        color: white;
        font-weight: bolder;
    }
    .company{
    background-color: white;
    width: auto;
    min-height: 40vh;
    }
    .comp-pic img{
    padding: 10px;

    }
    .comp-head {
    padding: 2px 7%;
    }
    .comp-head h4{
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
    }
    .feature1{
    background-color: rgb(214, 211, 211);
    background-size: cover;
    background-position: center;
    width: auto;
    min-height: 30vh;
    padding: 30px;
   
    box-shadow: rgb(254, 254, 255) 0px 5px 15px;
    display: inline-flex;

    }
    .btn-br{
    padding: 15px;
    background-color: #e904cad2;
    text-decoration: none;
    color: white;
    font-weight: 700;
    border: 2px solid #e904cad2;
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 30px;

    }
    .btn-ln{
    padding: 15px;
    background-color: transparent;
    text-decoration: none;
    color: black;
    font-weight: 700;
    border: 2px black solid;
    display: inline-flex;
    flex-wrap: wrap;

    }
    .feature-head{
    width: 100%;
    margin-bottom: 40px;
    }
    .feature-head a{
    margin-inline: 10px;
    }
    .feature-illus{
    width: 100%;
    }
    .feature1 h2{
    font-size: 40px;
    }
    .feature-illus img{
    padding: 0px  0px 20px ;
    }
    .lk{
    text-decoration: none;
    color: #e904cad2;
    font-weight: lighter;
    font-size: 20px;
    }
    .ankc{
    padding: 20px;
    }
    .ankc p{
    font-size: 15px;
    }

    .end{
    background-color: rgb(214, 211, 211);
    background-size: cover;
    background-position: center;
    width: auto;
    min-height: 30vh;
    padding: 30px;
    display:inline-flex;
    }

    .feature2{
    background-image: linear-gradient(to right, #16005a,transparent),url(cmp.jpg);
    background-position: center;
    background-size: cover;
    width: auto;
    min-height: 75vh;

    color: white;  
    word-wrap: break-word;

    }
    .feature2 h2{
    padding: 30px;
    }
    .feature1 h2{
    font-size: 30px;
    }
    .box-x{
        width: 300px;
        padding-inline: 50px;
        
        border-radius: 20px;
        margin-inline: 10px;  
        margin-bottom: 20px;  


    }
    .container-box{
    display: inline-flex;
    padding: 30px;
    flex-wrap: wrap;
    }
    .box-x img{
    width: 100%;
    }
    .feature3{
    background-image: linear-gradient(to right, #07011b,transparent),url(cp.jpg);
    background-position: center;
    background-size: cover;
    width: auto;
    min-height: 70vh;
    padding: 30px;   
    color: white;  
    }
    .feature3 h3{
    padding: 10px;
    }
    .feature3 p{
    padding: 10px;
    font-size: 15px;
    }
    .feature3 h4{
    font-size: 35px;
    padding: 10px;
    }
    .press{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 10px;
    }
    .press h2{
    font-weight: 100;

    }
    .press p{
    font-size: 20px;

    }
    .feature3 a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 10px;
    }
    .feature3 a span{
    color: red;
    }

    .feature4{

    background-color: white;
    min-height: 50vh;
    padding: 30px;



    }
    .line{
    border: 2px #ff9677 solid;
    }
    .line2{
    width: auto;
    margin-left: 20px;

    }
    .container-box2{
    display: inline-flex;
    flex-wrap: wrap;
    padding: 20px 30px;
    padding-inline: 30px;
    }
    .feature6{
        background-image: linear-gradient(to right, #16005a,transparent),url(cmp.jpg);
        background-position: center;
        background-size: cover;
        width: auto;
        min-height: 75vh;
    
        color: black;  
        word-wrap: break-word;
    
        }
        .feature6 h2{
        padding: 30px;
        }
        
        .box-x6{
        width: 300px;
        padding-inline: 50px;
        background-color: white;
        border-color: #b1acc2 5px solid;
        border-radius: 20px;
        margin-inline: 10px;  
        margin-bottom: 20px;  
        }
        .container-box6{
        display: inline-flex;
        padding: 30px;
        flex-wrap: wrap;
        }
        .box-x6 img{
        width: 100%;
        }
        .features9{
            width: 100%;
            min-height: 90vh;
            background-image: linear-gradient(to right, rgb(255, 255, 255), transparent),url(bg.png);
        }
        .hg h2{
            text-align: center;
        }
        .button{
            
            background-color: #07011b;
            color: white;
            width: 250px;
            padding: 20px;
            border-radius: 30px;
        }
        .button span{
            padding-inline: 20px;
        }
        .button #team:hover{
            background-color: #070d81;
            width: 250px;
            padding: 10px;
            border-radius: 30px;
            transition: 1s;
          
        }
        .button #ind:hover{
            background-color: #db2e59;
            width: 250px;
            padding: 10px;
            border-radius: 30px;
            transition: .8s;
          
        }

    .footer{
        color: white;
        min-height: 60vh;
        background-color: #07011b;
    }
    .words{
        display: inline;
        justify-content: space-between;
        width: auto;
        display: inline-flex;
        flex-wrap: wrap;
        padding: 70px;
    }
    .sub-btn{
        padding: 15px;
        background-color: #e904cad2;
        text-decoration: none;
        color: white;
        font-weight: 700;
        border: 2px solid #e904cad2;
        display: inline-flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .words div{
        margin-inline: 35px;
    }
    .support a, .community a, .compa a{
        font-size: 20px;
        padding: 6px;
        text-decoration: none;
       display: block;
       color: #333138;
       
    }
    .newsletter aside, .newsletter label {
        font-size: 20px;
        padding: 6px;
        text-decoration: none;
       display: block;
       color: #333138;
    }
    .newsletter input[type=email]{
        background-color: #14073C;
        width: 100%;
        height: 30px;
        border-radius: 10px;
        outline: none;
        color: white;
        border: none;
        padding: 10px;
    }
    label .check{
        background-color: #1E014F;
    }
    .insider{
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    .insider a{
        font-size: 15px;
        padding: 6px;
        text-decoration: none;
       color: #333138;
    }
    
    /* ----------------------------------------------------Some responsive---------------------------------------------------- */

    @media screen and (max-width:500px) {
       
    .ket{
    
    background-image: linear-gradient(to right top, #070d81, transparent);
    background-position: center;
    background-size: cover;
    border-radius: 50px;
    padding: 30px;
    display:inline-flex;
    box-shadow: rgb(254, 254, 255) 0px 5px 15px;
    flex-wrap:wrap;
    width: 75%;
    }
    .container{
    padding: 7% 2%;
    width: 100%;

    }


    .feature1{
        background-color: rgb(214, 211, 211);
        background-size: cover;
        background-position: center;
        width: auto;
        min-height: 30vh;
        padding: 30px;
        flex-wrap: wrap;
        box-shadow: rgb(254, 254, 255) 0px 5px 15px;
        display: inline-flex;
    
        }
    .illus img{
    width: 80%;
    }
    .nav1 {
    position: relative;

    width: 100%;
    flex-wrap: wrap;
    }

    .nav2 {
    position: relative;

    width: 100%;
    flex-wrap: wrap;

    }
    .container-box{
    display: inline-flex;
    padding: 2% 7%;
    flex-wrap: wrap;
    }

    .box-x6{
        width: 300px;
        padding-inline: 50px;
        background-color: white;
        border-color: #b1acc2 5px solid;
        border-radius: 20px;
        margin-inline: 10px;  
        margin-bottom: 20px;  
        width: 100%;
        }
        .box-x{
            width: 300px;
            padding-inline: 50px;
            margin-inline: 10px;  
            margin-bottom: 20px;  
            width: 100%;
            }
        .end{
            background-color: rgb(214, 211, 211);
            background-size: cover;
            background-position: center;
            width: auto;
            min-height: 30vh;
            padding: 30px;
            display:inline-flex;
            flex-wrap: wrap;
            }
        

    }
/*--------------------------------------------------------------- end of the responsive  update from Ankc -=------------------------*/
